<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>listado de contactos</title>
        </head style="margin:0; padding=0; box-sizing: border-box;">
    <body>

        <center>
            <h1> ! My Contact list 📓 ¡</h1>
        </center>

        <section class="form-register" style=" width: 400px;background: #24303c;padding: 30px;margin: auto; margin-top: 100px; border-radius: 4px; font-family: 'calibri';color: white;box-shadow: 7px 13px 37px #000;">
        
            <form  action="#" method="post" enctype="text/plain">

            
            <p>email: <input type="text" name="e-mail" size="35" placeholder="jorge@example.com"/></p>
            <p>password: <input type="password" name="contraseña" placeholder="*******"/><br/>
        
        

            </form
        </section>
        <center>
            <a href="/contacts" style="display: block;width: 50px;font-family: Arial, Helvetica, sans-serif;font-weight: 700;background-color: #24303c;border-radius: 10px;padding: 10px 30px;margin: 20px 200px;color: #fff;">Register:</a>
            </center>
    </body>
</html>